@*@model HamperProductCreateViewModel

    <div class="container">
        <div class="row">
            <div class="col col-md-12">
                <h2>List of hampers</h2>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-3 mb-2 btn btn-dark" type="button">
                @Html.ActionLink("Add a product", "Create", "Product")
            </div>
            <div class="col col-md-3 mb-2 btn btn-dark" type="button">
                @Html.ActionLink("Add a category", "Create", "Category")
            </div>
            <div class="col col-md-3 mb-2 btn btn-dark" type="button">
                @Html.ActionLink("Add a hamper", "Create", "Hamper")
            </div>
        </div>


        <!-- Button trigger modal -->
        <button id="myModalButton" type="button" class="btn btn-dark">
            Attach product to hamper
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">List of products</h5>
                        <button type="button" class="myBtn close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row table-responsive-sm">

                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Products</th>
                                        <th scope="col">Name</th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model.ProductList)
                                    {
                                        <tr>
                                            <td></td>
                                            <td class="mt-2"> @item.Name</td>
                                            <td class="btn btn-dark mt-2">@Html.ActionLink("Attach to hamper", "Create", "HamperProduct", new { hamperId = Model.HamperId, productId = item.ProductId})</td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="myBtn btn btn-secondary">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>


    </div>




    </div>


    @section customscript{
        <script>
            $(document).ready(function () {
                $("h1").click(function () {
                    alert("Hello");
                });

                $("#myModalButton").click(function () {
                    $("#exampleModal").modal("show");
                });

                $(".myBtn").click(function () {
                    $("#exampleModal").modal("hide");
                });

            });
        </script>
    }*@



@model HamperProductCreateViewModel

<div class="container">
    <div class="row">
        <div class="col col-md-12">
            <h2>Hamper</h2>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-3">
            <p>Name: @Model.Name</p>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-5">
            <p>Price: @Model.Price</p>
        </div>
    </div>
    <div class="row">
        @foreach (var item in Model.CategoryList)
        {
            <p>Category Name: @item.Name</p>
        }
    </div>
    <div class="row">
        <table>
            <tr>
                @foreach (var item in Model.ProductList)
                {
                    <td>Product Name: @item.Name</td>
                }
                </tr>
        </table>
    </div>
</div>





