@model HamperProductDetailsViewModel

<div class="container">
	<div class="row">
		<div class="col col-md-12">
			<h2>List of products</h2>
		</div>
	</div>
	<div class="row">
		<div class="col col-md-3 mb-2 btn btn-dark" type="button">
			@Html.ActionLink("Add a product", "Create", "Product")
		</div>
		<div class="col col-md-3 mb-2 btn btn-dark" type="button">
			@Html.ActionLink("Add a category", "Create", "Category")
		</div>
		<div class="col col-md-3 mb-2 btn btn-dark" type="button">
			@Html.ActionLink("Add a hamper", "Create", "Hamper")
		</div>

	</div>


	<div class="row table-responsive-sm">
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Hampers</th>
					<th scope="col">Name</th>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model.HamperList)
				{
					<tr>
						<td></td>
						<td class="mt-2"> @item.Name</td>
						<td class="btn btn-dark mt-2">@Html.ActionLink("Edit hamper name", "Edit", "Hamper", new { id = item.HamperId })</td>
						<td class="btn btn-dark mt-2 alert alert-danger" role="alert">@Html.ActionLink("Delete hamper", "Delete", "Hamper", new { id = item.HamperId })</td>
					</tr>

				}
			</tbody>
		</table>
	</div>

</div>


@section customscript{
	<script>
        $(document).ready(function () {
            $("h1").click(function () {
                alert("Hello");
            });

            $("#myModalButton").click(function () {
                $("#exampleModal").modal("show");
            });

            $(".myBtn").click(function () {
                $("#exampleModal").modal("hide");
            });

        });
	</script>
}



