@model CustomerAddressDetailsViewModel

<div class="container">
    <div class="row">
        <div class="col col-md-12">
            <h2>Customer Page - Address Details</h2>
        </div>
    </div>
    @*<div class="row">
        <div class="col col-md-3">
            <p>Id: @Model.AddressId</p>
        </div>
    </div>*@
    <div class="row">
        <div class="col col-md-3">
            <p>Street: @Model.Line1  @Model.Line2</p>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-3">
            <p>Suburb: @Model.Suburb @Model.PostalCode</p>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-5">
            <p>City and State: @Model.City @Model.State</p>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-5">
            <p>Country: @Model.Country</p>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-3 mb-2 btn btn-dark" type="button">
            @Html.ActionLink("Update your address", "Edit", "CustomerAddress", new { id = Model.AddressId })
        </div>

    </div>
</div>