@*@model HamperCreateViewModel*@

@*<div class="container-fluid">
    <div class="row">
        <div class="col col-md-12">
            <h3>Hampers</h3>
        </div>
    </div>
    <div class="row">
        <div class="card mx-auto">
            <div class="card-header bg-dark text-light">
                Add new hamper
            </div>
            <div class="card-body">
                <div class="container">
                    <form asp-controller="Hamper" asp-action="Create" method="post">

                        <span class="row mt-2" asp-validation-summary="ModelOnly"></span>

                        <div class="row mb-2">
                            <div class="col col-md-8">
                                <label asp-for="Name">Name of the hamper</label>
                                <input asp-for="Name" class="form-control" placeholder="Name" />
                                <span asp-validation-for="Name" class="text-danger" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col col-md-8">
                                <label asp-for="Price">Price of the hamper</label>
                                <input asp-for="Price" class="form-control" placeholder="Price" />
                                <span asp-validation-for="Price" class="text-danger" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col col-md-8">
                                <select asp-for="CategoryId" class="form-control"
                                        asp-items="@(new SelectList(ViewBag.CategoryList, "CategoryId", "Name")) "></select>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col col-md-8">
                                <p>Upload Image</p>
                                <input type="file" name="image" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-5">
                                <input type="submit" value="Add new hamper and Continue" class="btn btn-dark" />
                                @*<input class="btn btn-dark" type="submit" value="Update Details and Continue" />*@
                            @*</div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col col-md">
            <div class="col col-md mb-2 btn btn-dark" type="button">
                @Html.ActionLink("Back to Admin Page", "AdminPage", "Admin")
            </div>
        </div>
    </div>
</div>*@


@*@model HamperCreateViewModel

    <div class="container-fluid">
        <div class="row">
            <div class="col col-md-12">
                <h3>Hamper Page</h3>
            </div>
        </div>
        <div class="row">
            <div class="card mx-auto">
                <div class="card-header bg-dark text-light">
                    Add new gift hamper
                </div>
                <div class="card-body">
                    <div class="container">
                        <form asp-controller="Product" asp-action="Create" method="post">

                            <span class="row mt-2" asp-validation-summary="ModelOnly"></span>

                            <div class="row mb-2">
                                <div class="col col-md-8">
                                    <label asp-for="Name">Name of the Product</label>
                                    <input asp-for="Name" class="form-control" placeholder="Name" />
                                    <span asp-validation-for="Name" class="text-danger" />
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-5">
                                    <button type="submit" class="btn btn-dark">Add new Product and Continue</button>

                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col col-md">
                <div class="col col-md mb-2 btn btn-dark" type="button">
                    @Html.ActionLink("Back to Product Details Page", "Details", "Product")
                </div>
            </div>
        </div>
    </div>*@




@model HamperCreateViewModel

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="container">
                <div class="row">
					<div class="col-sm mt-4">
						<h3 class="text-sm-left">List of products</h3>
						@if (Model.Products != null || Model.Name != null)
						{
							<ul class="list-group d-inline-flex">
								@foreach (var item in Model.Products)
								{
									<li class="list-group-item flex-sm-fill  "> @item.Name</li>
								}
							</ul>
						}

					</div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="container">
				<div class="row mt-3 mb-3">
					<div class="col-sm">
						<h3 class="mx-auto">Add New Gift Hamper</h3>
					</div>
                </div>
                <div class="row">
                    <div class="col-sm text-center">
                        <form asp-controller="Hamper" asp-action="Create" method="post" enctype="multipart/form-data" class="container">
                            <div class="row mb-2 text-sm-left">
                                <div class="col-sm-4">
                                    <label class="font-weight-bold" asp-for="Name">Name of the hamper</label>
								</div>
								<div class="col-sm ">
                                    <input asp-for="Name" class="form-control text-center" placeholder="Name of the hamper" />
									<span asp-validation-for="Name" class="text-danger"></span>
								</div>
                            </div>
							<div class="row mb-2 text-sm-left">
								<div class="col-sm-4">
									<label class="font-weight-bold" asp-for="Categories">List of categories</label>
								</div>
								<div class="col-sm">
									<select asp-for="CategoryId" class="form-control"
											asp-items="@(new SelectList(ViewBag.CategoryList, "CategoryId", "Name")) "></select>
								</div>
							</div>
                            <div class="row mb-2 text-sm-left">
								<div class="col-sm-4">
									<label class="font-weight-bold" asp-for="Price">Price</label>
								</div>
                                <div class="col-sm">
                                    <input asp-for="Price" class="form-control text-center" placeholder="Price" />
                                    <span asp-validation-for="Price" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-2 text-sm-left">
								<div class="col-sm-4">
									<p>Upload Image</p>
								</div>
                                <div class="col-sm">
                                    <input type="file" name="image" />
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-sm">
                                    <button type="submit" class="btn btn-warning font-weight-bold">Add New Gift Hamper and Continue</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
