@*@model HamperDetailsViewModel

	<div class="container">
		<div class="row">
			<div class="col col-md-12">
				<h2>Hamper Page</h2>
			</div>
		</div>
		<div class="row">
			<div class="col col-md-3">
				<p>Name: @Model.Name</p>
			</div>
		</div>
		<div class="row">
			<div class="col col-md-5">
				<p>Price: @Model.Price</p>
			</div>
		</div>
		<div class="row">
			@*<div class="col col-md-5">
					<p>Category: @Model.CategoryId</p>
				</div>*@
@*<div class="col col-md-5">
		<p>Category: @Model.CategoryName </p>
	</div>
		</div>
	<div class="row">
		<p>List of products:</p>
		@foreach (var item in Model.ProductList)
		{
			<p> @item.ProductId</p>
		}
	</div>

	<div class="row">
		<div class="col col-md-3 mb-2 btn btn-dark" type="button">
			@Html.ActionLink("Update hamper", "Edit", "Hamper", new { id = Model.HamperId })
		</div>

	</div>
	</div>*@


@model HamperDetailsViewModel

<div class="container">
	<div class="row">
		<div class="col-sm mt-3">
			<h3>Details of the Gift Hamper</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<p>Name: @Model.Name</p>
			<p>Price: @Html.DisplayFor(model => model.Price)</p>
			<p>Category: @Model.CategoryName</p>
			<p>List of products:</p>
			<ul class="mx-auto">
				@foreach (var item in Model.HamperList)
				{
					@foreach (var pr in item.Products)
					{
						<li>@pr.product.Name</li>}
				}
			</ul>
		</div>
		<div class="col-sm">
			<img src="~/imagesApp/@Model.Image" alt="Image for the hamper" width="200" />
		</div>
	</div>
	<div class="row">
		<div class="col col-md-3 mb-2 btn btn-warning font-weight-bold text-dark">
			@Html.ActionLink("Edit", "Edit", "Hamper")
		</div>
	</div>

	@*<div class="row table-responsive-md font-weight-bold">
			<table class="table table-borderless">
				<thead class="thead">
					<tr>
						<th scope="col"></th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.Hampers)
					{
						<tr>
							<td class="mt-2"> @item.Name</td>
							<td class="btn btn-warning font-weight-bold text-dark mt-2 mr-2">@Html.ActionLink("Edit hamper", "Edit", "Hamper", new { id = item.HamperId })</td>
						</tr>

					}
				</tbody>
			</table>
		</div>*@
	

</div>

