@model CustomerProfileDetailsViewModel

<div class="container">
	<div class="row mt-4 mb-4">
		<div class="col col-md-12 text-center ">
			<h4>MY ACCOUNT INFORMATION</h4>
			<p>Your personal details and addresses</p>
		</div>
	</div>
	<div class="row mt-4 mb-4">
		<div class="col-sm-4">
			<img class="mx-auto d-block img-fluid" src="~/imagesApp/customerAvatar.jpg" />
		</div>
		<div class="col-sm-4 ml-2">
			<p>Name </p>
			<p>Username </p>
			<p>Email address </p>
			<p>Phone </p>
		</div>
		<div class="col-sm">
			<p>@Model.FirstName   @Model.LastName </p>
			<p>@Model.UserName</p>
			<p>@Model.Email</p>
			<p>@Model.Phone</p>
		</div>
	</div>
	<div class="row mt-4 mb-4">
		@*<button class="col-sm-3 btn btn-warning" type="button">*@
		@*@Html.ActionLink("Edit personal details", "Edit", "CustomerProfile")*@
		@*</button>*@
		<a href="~/CustomerProfile/Edit" class="col-sm-4 btn btn-warning ">Edit personal details</a>
	</div>


	@*<div class="row">
			<div class="col col-md-3 mb-2 btn btn-dark" type="button">
				@Html.ActionLink("Add new delivery address", "Create", "CustomerAddress")
			</div>
		</div>*@

	<div class="row mt-4 mb-4">
		<a href="~/CustomerAddress/Create" class="col-sm-4 btn btn-warning ">Add delivery address</a>
	</div>

	

	<div class="row mb-4 mx-auto">
		<div class="col-sm-12">
			<h4>List of addresses</h4>
		</div>
		@if (Model.MyAddresses != null && Model.MyAddresses.Count() != 0)
		{
			<div class="col-sm-12">
				<ul class="list-group">
					@foreach (var item in Model.MyAddresses)
					{
						<li class="list-group-item">
							@item.Line1 @item.Line2 @item.Suburb @item.PostalCode @item.City

							@*nav to edit and details of a delivery address*@
							<a asp-controller="CustomerAddress" asp-action="Edit" asp-route-id="@item.AddressId" class="btn btn-warning float-sm-right">Edit</a>
							<a asp-controller="CustomerAddress" asp-action="Details" asp-route-id="@item.AddressId" class="btn btn-warning float-sm-right">Details</a>
							<a asp-controller="CustomerAddress" asp-action="Delete" asp-route-id="@item.AddressId" class="btn btn-danger float-sm-right">Remove</a>

							@*<a href="@Url.RouteUrl("CustomerAddress", new {id=@item.AddressId})" class="btn btn-warning float-sm-right">Edit delivery address</a>
							<a href="~/CustomerAddress/Details" class="btn btn-warning float-sm-right">Details of a delivery address</a>*@
						</li>
					}
				</ul>
			</div>

		}
		else
		{
			<div class="col-sm-12">
				<p>You can add new delivery address</p>
			</div>

		}
	</div>


</div>